* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 80vh;
  background-color: rgb(75, 74, 74);
  color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90px;
  background-color: rgb(26, 26, 26);
  color: rgba(255, 208, 0, 0.925);
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 35vh;
  text-align: center;
}

.score-card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* flex-wrap: wrap; */
}

.score-card {
  width: 180px;
  height: 210px;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-choise {
  background-color: rgb(255, 196, 0);
  border: 2px solid rgb(255, 123, 0);
  border-radius: 12px;
  width: 145px;
  height: 160px;
  padding: 5px;
}

.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.card-container {
  width: 100vw;
  max-height: 35vh;
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 100px;
  max-height: 110px;
  border: 2px solid rgb(255, 123, 0);
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
  margin: 5px 8px;
  padding: 5px;
}

.card-winner {
  background-color: rgb(94, 255, 0) !important;
}

.card-loser {
  background-color: rgba(255, 38, 0, 0.918);
}

.card:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 740px) {
  body {
    font-size: 22px;
    min-height: 800px;
  }

  .container {
    min-height: 380px;
  }

  .score {
    margin-top: 20px;
  }

  .score-card-container {
    margin-top: 20px;
  }

  .card {
    max-width: 210px;
    max-height: 210px;
  }

  .card-container {
    margin-top: 40px;
    min-height: 300px;
  }

  .score-card {
    width: 250px;
    height: 280px;
  }

  .img-choise {
    width: 210px;
    height: 210px;
  }
}
